.Player {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 20% auto 20%;
}

#time-scale {
  grid-column: 1/4;
}

#meta-controls {
  grid-column: 2/4;
  text-align: right;
  vertical-align: middle;
}

#title-display {
  grid-column: 1/3;
}

#time-display {
  text-align: right;
}
